<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @contribution.investor.first_name %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @contribution.principal %>
</p>

<p>
  <strong>Period start:</strong>
  <%= @contribution.period_start %>
</p>

<p>
  <strong>Period end:</strong>
  <%= @contribution.period_end %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @contribution.interest %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contribution.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contribution.payouts.count %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
